.search_input {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .20);
    display: flex;
    align-items: center;
    height: 56px;
    overflow: hidden;
}

.text-input {
    background: rgba(217, 217, 217, .15);
    width: 100%;
    border: none;
    outline: none;
    height: 56px;
    padding: 0 28px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.text-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 200 !important;
}

.error-style {
    border: 1px solid red;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.input-name {
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
}

.text-input:disabled {
    color: #23262F;
}

.input-required {
    font-size: 22px;
    text-align: left;
    margin-bottom: 3px;
}

.input-required span {
    color: #FF275B;
}

@media all and (max-width: 600px) {
    .input-required {
        font-size: 16px;
    }

    .search_input {
        height: 42px;
    }

    .error-style {
        font-size: 1px;
    }

    .text-input {
        padding: 0 16px;
        font-size: 12px;
        height: 42px;
    }
}