.calendar-icon {
    position: absolute;
    right: 18px;
    top: 57%;
    z-index: 4;
}

.p-calendar {
    width: 100%;
}

.p-inputtext {
    font-size: 16px;
    padding: 0 23px;
    color: rgba(0, 0, 0, 0.60);
    background: none;
    z-index: 5;
    cursor: pointer;
}

.p-calendar .p-inputtext {
    border-radius: 6px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

.p-datepicker-calendar .p-highlight {
    width: 34px;
    height: 34px;
    background: #5CCC81;
    border-radius: 50%;
    color: white;
    margin: auto;
}

.p-datepicker {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 20px;
    border-radius: 16px;
    color: #42474D;
}

.p-datepicker table {
    font-size: 14px;
    font-weight: 600;
}

.p-datepicker-header {
    margin-bottom: 33px;
}

.p-datepicker-other-month {
    color: #A6ACB3;
}

.p-datepicker td>span {
    margin: 10px;
}

.p-datepicker-calendar thead tr {
    color: #4DA2D6;
}

.p-datepicker-month {
    font-size: 16px;
    font-weight: 600;
}

.p-datepicker-year::before {
    content: ", ";
}

.p-datepicker-year {
    color: #4DA2D6;
    font-size: 16px;
    font-weight: 600;
}

.error-calendar {
    border: 1px solid red;
    border-radius: 6px;
}

@media all and (max-width: 600px) {
    .calendar-icon {
        top: 50%;
    }
}